# Image files #
##############

*.png
*.mp4
*.gif

# Virtual environment

venv/
.idea/
.DS_Store/
.ipynb_checkpoints/

# Cache #

__pycache__/

# exlude everything in temp folder
tutorials/temp/

# but keep the folder itself
!tutorials/temp/.gitkeep 
